.bubble-container {
  width:50%;
  max-height:90%;
  overflow-y: scroll;
}

.bottom-sticky {
  position: fixed;
  bottom: 10px;
  width: 100%;
  height: 10vh;
}

.interactive-container {
  margin: auto;
  width: 50%;
  padding-top: 20px;
}

.page {
  align-items: center;
  width:100%;
  height:100vh;
}